.aaa {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 30px;
    border: 5px solid blue;
    padding: 30px;
    box-sizing: border-box;
}

.item {
    width: 100px;
    height: 100px;
    background-color: green;
    margin: 30px;
    border: 5px solid blue;
    padding: 30px;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* justify-content: flex-end; */
    /* justify-content: space-between; */
    background-color: yellow;
    height: 800px;
    /* align-items: center; */
}